table{
    border-spacing: 0;
    border-collapse: collapse;
    border: 5px solid rgb(9, 9, 9);
    background-color: rgb(158, 20, 20)
    
    
}
td {
    width: 300px;
    height: 100px;
    font-size: 50px;
    border: 5px solid rgb(6, 6, 6);
    color: #fff;
    
}
td:nth-child(2n+1) {
    vertical-align: top;
}
td:nth-child(2n+2) {
    vertical-align: middle;
}
td:nth-child(2n+3) {
    vertical-align: bottom;
}
tr:nth-child(2n+2) {
    text-align: center;
}
tr:nth-child(2n+3) {
    text-align: right;
}