header {
    height: 757px;
    background-image: url(../img/Ear.jpg);
    background-size: 100% auto;
}

.header-menu {
    width: 1210px;
    height: 59px;
    margin: 0 159px 173px 71px;
    display: flex;

    a {
        text-decoration: none;
        color: $darkgrey;
    }
    a span {
        color: $yellow;
    }

    &__logo {
        width: 168px;
        height: 59px;
        margin: 13px 547px 173px 0;   
    }

    &__fertilizers {
        margin: 30px 58px 0 0;
        @include white-size-line;
    }

    &__company {
        margin: 30px 58px 0 0;
        @include white-size-line;
    }

    &__contact {
        margin: 30px 54px 0 0;
        @include white-size-line;
    }

    &__language_pl {
        margin: 30px 10px 0 0;
        text-transform: uppercase;
        @include white-size-line;
    }

    &__language_en {
        margin: 30px 0 0 0;
        text-transform: uppercase;
        @include white-size-line;
    }
}

.header__invest {
    width: 694px;
    height: 357px;
    position: relative;
    margin: 0 683px 155px 63px;

    &__content{
        background-color: $yellow;
        padding: 64px 91px 34px 47px;
        text-transform: uppercase;
        @include content-white-size-line;
    }

    &__info {
        width: 694px;
        height: 85px;
        background-color: $darkgrey;
        display: flex;
        margin: 27px 683px 155px 0;

        &__market {
            width: 354px;
            height: 48px;
            padding: 14px 61px 23px 39px;
            color: $white;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.header__invest__info__inquiry button {
    width: 230px;
    height: 63.75px;
    margin: 11px 10px 10.25px 0;
    background-color: $white;
    position: relative;
    float: left;

    a {
        width: 159px;
        height: 21px;
        text-decoration: none;
        text-transform: uppercase;
        color: $darkgrey;
        @include white-size-line
    }
}
        



    






