@font-face {
  font-family: "Gilroy";
  src: url(../font/Gilroy-Light.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/Gilroy-ExtraBold.otf);
  font-weight: bold;
  font-style: normal;
}
html, body {
  font-family: "Gilroy, sans-serif";
}

.container {
  width: 1295px;
  position: relative;
  margin: 0 auto;
}

.container-info {
  position: relative;
  margin: 0 auto;
  background: #4FBFA5;
}

.header {
  display: flex;
  height: 90px;
  align-items: center;
}
.header > div {
  display: flex;
  height: 90px;
  align-items: center;
}
.header__logo {
  border-left: 1px solid #C4C4C4;
  padding: 0 36px;
}
.header__phone {
  padding: 0 30px;
  border-left: 1px solid #C4C4C4;
}
.header__phone a {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.header__salon {
  padding: 0 30px;
  border-left: 1px solid #C4C4C4;
}
.header__salon a {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  display: flex;
  align-content: center;
}
.header__salon a .arrow-down {
  margin-left: 15px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../img/button.png);
}
.header__special {
  padding: 0 30px;
  border-left: 1px solid #C4C4C4;
}
.header__special a {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px 8px;
  background-color: #00868A;
  display: flex;
  align-items: center;
}
.header__special a .eye {
  width: 26px;
  height: 22px;
  display: inline-block;
  margin-right: 10px;
  background-image: url(../img/eye.png);
}
.header__social ul {
  list-style: none;
  display: flex;
  border-left: 1px solid #C4C4C4;
  margin: 0;
  padding: 0;
}
.header__social ul li {
  border-right: 1px solid #C4C4C4;
  padding: 0 24px;
  display: flex;
  height: 90px;
  align-items: center;
}
.header__social ul li a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center center;
}
.header__social ul li a.vk {
  background-image: url(../img/VK.png);
}
.header__social ul li a.yt {
  background-image: url(../img/youtube.png);
}
.header__social ul li a.fb {
  background-image: url(../img/facebook.png);
}
.header__social ul li a.ig {
  background-image: url(../img/Instagram.png);
}

.info {
  width: 1295px;
  background: #4FBFA5;
  height: 700px;
  position: relative;
  margin: 0 auto;
}

.info-menu {
  height: 87px;
  display: flex;
  align-items: center;
}
.info-menu__cosmetology a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 30px 65px 30px 61px;
  font-size: 18px;
  font-weight: 500;
}
.info-menu__plastic a {
  text-decoration: none;
  color: #fff;
  padding: 30px 65px 30px 0;
  font-size: 18px;
  font-weight: 500;
}
.info-menu__dentistry a {
  text-decoration: none;
  color: #fff;
  padding: 30px 65px 30px 0;
  font-size: 18px;
  font-weight: 500;
}
.info-menu__laser a {
  text-decoration: none;
  color: #fff;
  padding: 30px 65px 30px 0;
  font-size: 18px;
  font-weight: 500;
}
.info-menu__contacts a {
  text-decoration: none;
  color: #fff;
  padding: 30px 95px 30px 0;
  font-size: 18px;
  font-weight: 500;
}
.info-menu__enrol {
  width: 175px;
  float: left;
  padding: 24px 0 23px 0;
}
.info-menu__enrol a {
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  padding: 9px 15px 10px 15px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.info-content__row {
  margin-top: 163px;
  float: left;
}
.info-content__image {
  margin-left: 30px;
  position: relative;
  width: 766px;
  height: 533px;
  float: left;
}
.info-content__cosmetology {
  font-family: Gilroy;
  width: 316px;
  height: 72px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-right: 0;
}
.info-content__text {
  padding-top: 20px;
  width: 400px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Gilroy;
  line-height: 21px;
  margin-right: 0;
}
.info-content__details {
  width: 163px;
  background-color: #00868A;
  margin-top: 40px;
  padding: 15px 25px 14px 25px;
  display: flex;
  justify-content: center;
}
.info-content__details a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-family: Gilroy;
  line-height: 21px;
}
.info-content__arrow a {
  width: 120px;
  height: 50px;
  display: block;
  margin-left: 370px;
}
.info-content__arrow a.arrows {
  background-image: url(../img/Group.png);
}

.info-sections {
  display: flex;
  float: left;
}
.info-sections__procedures {
  width: 635px;
  height: 80px;
  background-color: #00868A;
  display: flex;
  justify-content: center;
}
.info-sections a {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.info-sections__training {
  width: 316px;
  height: 80px;
  background-color: #4FBFA5;
  display: flex;
  justify-content: center;
}
.info-sections__vip {
  width: 316px;
  height: 80px;
  background-color: #00868A;
  display: flex;
  justify-content: center;
}

.basic__info {
  width: 526px;
  margin-top: 80px;
  background-color: #00868A;
  height: 350px;
}
.basic__info__innovation {
  position: relative;
  width: 95px;
  height: 21px;
  background-color: #4FBFA5;
  padding: 9px 15px 10px 15px;
  top: 35px;
  margin-left: 40px;
  float: left;
}
.basic__info__innovation a {
  text-decoration: none;
  color: #fff;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
}
.basic__info__text {
  color: #fff;
  width: 485px;
  height: 135px;
  font-family: Gilroy;
  float: left;
  margin: 105px 1px 110px 40px;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}
.basic__info__arrow {
  float: left;
  border: 2pxs solid red;
}
.basic__info__arrow a {
  background-image: url(../img/rarrow.png);
  width: 50px;
  height: 40px;
  display: block;
}
.basic__info__details {
  text-decoration: none;
  color: red;
  float: left;
}/*# sourceMappingURL=style.css.map */