body {
    background-color: azure;
}

.container {
    width: 100%;
    height: 400px;
    background: rgb(224, 219, 219);
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
}

table {
    margin: 50px;

}

.btn {
    margin-left: 400px;
    margin-top: 50px;
}

th {
    width: 3%;
}

td {
    width: 3%;
    text-align: center;
}

.form-label,
.form-control {
    margin-top: 15px;
}

.form-control {
    border-radius: 30px;
}

input,
.option {
    border-radius: 5px;
}

input[type="submit"] {
    width: 150px;
    background: rgb(203, 226, 190);
    margin-left: 400px;
    margin-top: 20px;
}

.error {
    color: red;
}

.input [type="password"] {
    border: 2px solid red;
}

.form-label {
    width: 100%;
    text-align: right;
    padding-right: 20px;
}

.error input,
.error textarea,
.error select {
    border-color: red !important;
}

.error-text {
    color: red;
    padding: 5px 25px;
    font-size: 12px;
}

.edit-row {
    border-color: red !important;
}

.btn_add {
    margin-left: 417px;
}

.btn_save {
    margin-left: 40px;
}

.sum{
    border: 1px solid #0f0f0f;
    width: 300px;
}

.btn{
    margin-left: 500px;
}