@mixin flexbetween {
    display: flex;
    justify-content: space-between;
}

@mixin btn {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: relative;
    margin-left: 190px;
    top: 8px;
    text-decoration: none;
}
