pre {
    font-size: 30px;
    color: #808080;
    letter-spacing: 5px;
    word-spacing: 50px;
}
ins + span{
    text-decoration: overline;
}
.prime {
    font-weight: 900;
}
ins del {
    text-shadow: 2px 2px 4px orange;    
}
ins .prime del{
    font-size: 35px;
}
.power{
    color: rgba(171, 27, 111, 0.3);
    }

.opas {
    opacity: 0;
}
.opas:hover {
    opacity: 1;
}
   