html, body {
  font-family: Mulish, sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 96px;
  font-family: Mulish, sans-serif;
  color: #000000;
}

h3 {
  font-family: Mulish, sans-serif;
  font-weight: 600;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 140px;
  display: flex;
  margin-bottom: 80px;
}
.header__hamburger {
  margin-top: 50px;
}
.header__hamburger a {
  width: 26.25px;
  height: 20.42px;
  background-image: url(../img/hamburger.png);
  display: block;
  display: none;
}
.header__logo {
  margin: 47px 202px 48px 70px;
}
.header__menu {
  display: flex;
  align-items: center;
  width: 558px;
}
.header__menu ul {
  list-style: none;
  padding-left: 0;
}
.header__menu li:not(:last-child) {
  margin-right: 50px;
}
.header__menu li {
  float: left;
}
.header__menu a {
  text-decoration: none;
  font-family: Mulish;
  font-weight: 400;
  line-height: 25.1px;
  color: #000000;
  font-size: 20px;
}
.header__menu a:hover {
  color: #F6523C;
}
.header__language {
  display: flex;
  margin: 59px 25px 58px 490px;
  float: left;
  align-items: center;
  justify-content: space-between;
}
.header__language ul {
  list-style: none;
  padding-left: 0;
}
.header__language li {
  float: left;
}
.header__language a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Mulish;
  font-weight: 400;
  line-height: 25.1px;
  color: #000000;
  font-size: 18px;
  margin-right: 3px;
}
.header__language a:hover {
  color: #F6523C;
}
.header__language a span {
  border-left: 2px solid #000000;
  text-decoration: underline;
  padding-left: 3px;
}
.header__language a span:hover {
  color: #F6523C;
}
.header__connection {
  width: 240px;
  height: 67px;
  background-color: #F6523C;
  margin-top: 37px;
  align-items: center;
  display: flex;
}
.header__connection:hover {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
.header__connection:hover a {
  color: #000000;
}
.header__connection a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-size: Mulish;
  color: #FFFFFF;
  line-height: 22.59px;
  padding-left: 43.5px;
}

.services__title {
  width: 70%;
  margin-left: 70px;
}
.services__info {
  display: flex;
}
.services__info_image {
  margin: -40px 70px 0 174px;
}
.services__info_section_text {
  width: 820px;
  margin: 0 0 100px 70px;
  margin-right: 0;
}
.services__info_section_text p {
  font-size: 20px;
  font-family: Mulish;
  font-weight: 300;
  line-height: 32.5px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}
.services__info_section_menu {
  margin: 100px 0 191px 70px;
  width: 25%;
}
.services__info_section_menu > ul > li:hover .services__info_section_menu_block {
  display: block;
}
.services__info_section_menu > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.services__info_section_menu > ul li:not(:last-child) {
  margin-bottom: 33px;
}
.services__info_section_menu > ul a {
  text-decoration: none;
  position: relative;
  font-family: Mulish;
  font-family: Mulish;
  font-weight: 600;
  line-height: 25.1px;
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
}
.services__info_section_menu > ul a:hover {
  color: #F6523C;
}
.services__info_section_menu_block {
  position: absolute;
  border-left: 2px solid #000000;
  padding-left: 42px;
  margin-left: 360px;
  width: 438px;
  margin-top: -20px;
  display: none;
}
.services__info_section_menu_block_image {
  background-image: url(../img/Files1.png);
  width: 103px;
  height: 73px;
  margin-bottom: 30px;
}
.services__info_section_menu_block_development h3 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 27.61px;
}
.services__info_section_menu_block_development p {
  line-height: 28px;
  font-size: 20px;
  font-family: Mulish;
  font-weight: 400;
  color: #000000;
}

.info {
  width: 100%;
  height: 942px;
  background-image: url(../img/bg1.png);
  background-repeat: repeat-x;
}
.info__text {
  font-family: Mulish;
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  color: #FFFFFF;
  margin: 220px 0 160px 70px;
  position: relative;
}
.info__quality {
  display: flex;
}
.info__quality_communication {
  width: 33, 3333333%;
  position: relative;
}
.info__quality_communication_image {
  background-image: url(../img/chat.png);
  width: 40px;
  height: 38.23px;
}/*# sourceMappingURL=style.css.map */