.header {
    &__row{
        padding: 10px 0 0 0;
        display: flex;
        justify-content: space-between;
        margin: 0 1px;
    
        &_menu{
            display: flex;
            border: 1px solid $darkgold;
            background-color: $lightgreen;
            height: 60px;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            float: left;
            border-radius: 7px;
           
            ul {
                list-style: none;
                padding-left: 0;
                margin: 0 50px 0 130px;
            }

                li {
                    float: left;
                    margin-left: 125px;
                }
                
                    a{
                        text-decoration: none;
                        color: $gold;
                        font-weight: 500;
                        font-size: 30px;
                        margin-top: 14px;
                        transition: color 0.5s linear;
                    }   

                    a:hover {
                        color: $darkgold;
                        text-decoration: underline;
                    }
        }

        &_connection{  
            border-radius: 5px;       
            display: inline-block;
            vertical-align: top;
            padding: 9px 0px;
            background-color:$gold;
            transition: background-color 0.3s linear;
           
            :hover {
               border-radius: 5px;
               margin: 9px 0 20px 0;
               padding: 8px 20px 10px 20px;
               background-color: #c29c4f;
                    
            }
                
                a {
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: Roboto Slab;
                    line-height: 22.59px;
                    padding: 0 20px 0 20px;
                    color: white;
                    text-transform: uppercase;

                    :hover{
                        color: red;
                    }


                }

            }
    }

        
}
    
