.home{
    padding-bottom: 40px;

    &_img{
        width: 100%;
        background-image: url(../img/fn.jpg);
        height: 700px;
        background-repeat: no-repeat;
        display: none;

        @media (min-width: 1280px) {
            display: block;
        }
    }

    &__text{
        display: none;

        @media (min-width: 1280px) {
            display: block;
            width: 70%;
            margin: -519px auto 210px auto;
               
        }

        @media (min-width: 1920px) {
            margin: -435px auto 220px auto;
        }

        &_h2 {
            font-size: 50px;
                padding: 30px;
            text-shadow:
                1px 1px $white,
                1px 1px $brown;
            color: $darkbrown;
            transition: all 1s;
            font-weight: 800;
            line-height: 1.5;
            margin-bottom: 20px;

            @media (min-width: 1920px) {
                font-size: 50px;
            }
        }
        
        &_author {
            font-size: 35px;
            font-weight: 400;
            margin-left: 595px;
            padding-bottom: 40px;
            color: $textgrey;

            @media (min-width: 1920px) {
                margin-left: 960px;
            }
        }
    }

    &__row{
       
        &_h2{
            font-size: 27px;
            font-weight: 500;
            text-align: center;
            padding-bottom: 20px;

            @media (min-width: 768px) {
                font-size: 35px;
            }

            @media (min-width: 1280px) {
                font-size: 43px;
                margin: 0 auto;
                width: 90%;
                padding-bottom: 30px;
                padding-top: 50px;
            }

            @media (min-width: 1920px) {
                font-size: 50px;
            }
        }

        &_p{
            font-size: 18px;
            text-align: center;
            color: $textgrey;
            margin-bottom: 0;

            @media (min-width: 768px) {
                font-size: 22px;
            }

            @media (min-width: 1280px) {
                font-size: 24px;
                margin-bottom: 10px;
            }
            
            @media (min-width: 1920px) {
                font-size: 30px;
            }
        }
    }
}
