.home{
    padding-bottom: 50px;
   &_img{
        width: 100%;
        background-image: url(../img/fn.jpg);
        height: 700px;
        background-repeat: no-repeat;
   }

   &__text{
        width: 45%;
        margin-left: 730px;
        margin-top: -560px;
        margin-bottom: 260px;

        &_h2 {
            font-size: 55px;
            text-shadow:
                1px 1px white,
                1px 1px rgb(192, 112, 78);
            color: rgb(159, 52, 38);
            transition: all 1s;
            font-weight: 800;
            line-height: 1.5;
        }
        
        &_author {
            font-size: 35px;
            font-weight: 400;
            margin-left: 340px;
            color: rgb(72, 70, 70);
        }
   }
    &__row{
       
        &_h2{
            font-size: 50px;
            font-weight: 500;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 30px;
        }

        &_p{
            font-size: 27px;
            text-align: center;
            color: rgb(73, 72, 72);
        }
    }
}
