.individual-consultation{
    background-image: url(../img/fonAbout.svg);
    background-repeat: no-repeat;
    
    &__row {
        display: inline-block;
    
        &_details {
            display: flex;
            padding-bottom: 40px;

            @media (min-width: 768px) {
                padding-bottom: 60px;
            }
        
            @media (min-width: 1280px) {
                padding-bottom: 100px;
            }
        
            @media (min-width: 1510px) {
                padding-bottom: 100px;
            }
    
            &_img {
                width: 100px;
                height: 75px;
                margin: 2px 0 0 -20px;

                @media (min-width: 768px) {
                    width: 150px;
                    height: 120px;
                    margin-top: 10px;
                }
                
                @media (min-width: 1280px) {
                    width: 225px;
                    height: 170px;
                    margin-top: 12px;
                    margin-right: 60px;
                }
                
                @media (min-width: 1510px) {
                    width: 255px;
                    height: 200px;
                    margin-top: 20px;
                    margin-right: 50px;
                }
            }
    
            &_h2 {
                text-align: center;
                font-weight: 800;
                font-size: 22px;
                color: $darkgreen;

                @media (min-width: 768px) {
                    font-size: 34px;
                    padding-top: 28px;
                }
                
                @media (min-width: 1280px) {
                    font-size: 50px;
                    padding-top: 47px;
                }
                
                @media (min-width: 1510px) {
                    padding-top: 60px;
                }
            }
        }

        &_price{     
            padding-bottom: 40px; 
            
            @media (min-width: 1280px) {
                padding-bottom: 50px;
            }
            
            &_h2 {
                @include flexrelative;
                font-size: 33px;
                font-weight: 500;
                text-align: center;
                padding-bottom: 30px;
                color: $darkgreen;
                font-weight: 800;
                margin: 0 auto;
                align-items: center;

                @media (min-width: 768px) {
                    font-size: 40px;
                }
                
                @media (min-width: 1280px) {
                    font-size: 50px;
                    width: 99%;
                }
                
                @media (min-width: 1510px) {
                    font-size: 50px;
                    width: 60%;
                    margin: 0 0 0 250px;
                }
            }

            &_a{
                color: $gold; 
            }

            a:hover{
                color: $darkgold;
            }

            &_p{
                font-size: 20px;
                text-align: center;
                position: relative;
                margin: 0 auto;
                
                @media (min-width: 1280px) {
                    font-size: 25px;
                }
                
                @media (min-width: 1510px) {
                    margin-left: 310px;
                    text-align: justify;
                }
            }
        }

        &_services{
            float: left;
            justify-content: space-between;
            position: relative;
            
            @media (min-width: 1280px) {
                display: flex;
                float: left;
            }
            
            @media (min-width: 1510px) {
                margin: 0 0 50px 50px;
            }
           
            &_individual{
                width: 85%;
                border: 2px solid $gold;
                background-color: $white;
                margin: 0 auto 50px;

                @media (min-width: 768px) {
                    width: 75%;
                }
                
                @media (min-width: 1280px) {
                    width: 45%;
                }
                
                @media (min-width: 1510px) {
                    width: 40%;
                }

                &_h2{
                    background-color: $gold;
                    padding: 15px;
                    font-size: 25px;
                    text-align: center;
                    margin-bottom: 0;

                    @media (min-width: 1510px) {
                        font-size: 30px;
                        padding: 25px;
                    }
                }

                &_hr {
                    width: 319px;
                    border: none;
                    background-color: $gold;
                    height: 2px;
                    margin: 0;

                    @media (min-width: 768px) {
                        width: 505px;
                    }
                
                    @media (min-width: 1280px) {
                        width: 499px;
                    }
                
                    @media (min-width: 1510px) {
                        width: 481px;
                    }
                }

                &_objective{
                    font-size: 18px;
                    text-align: center;
                    padding: 20px 35px 20px;
                    margin-bottom: 0;
                    
                    @media (min-width: 1280px) {
                        font-size: 20px;
                    }
                    
                    @media (min-width: 1510px) {
                        padding: 30px 35px 30px;
                    }
                }

                &_price{
                    text-transform: uppercase;
                    font-size: 22px;
                    text-align: center;
                    margin-bottom: 0;
                    padding: 20px 20px 30px 20px;

                    @media (min-width: 768px) {
                        font-size: 27px;
                    }
                }

                &_btn {
                    @include flexrelative;
                    width: 250px;
                    border-radius: 5px;
                    vertical-align: top;
                    background-color: $gold;
                    transition: color, background-color 0.5s linear;
                    left: 11%;
                    margin-bottom: 30px;

                    @media (min-width: 768px) {
                        left: 25%;
                    }
                    
                    @media (min-width: 1510px) {
                        left: 24%;
                    }
                
                    :hover {
                        border-radius: 5px;
                        background-color: $darkgold;
                        color: $white;
                    }
                
                    a {
                        width: 250px;
                        padding: 10px;
                        text-align: center;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22.59px;
                        color: $white;
                        text-transform: uppercase;

                        @media (min-width: 768px) {
                            font-size: 18px;
                        }
                    }
                }
            }

            &_personal{
                width: 85%;
                margin: 0 auto 50px;
                border: 2px solid $gold;
                background-color: $white;

                @media (min-width: 768px) {
                    width: 75%;
                }
                
                @media (min-width: 1280px) {
                    width: 45%;
                }
                
                @media (min-width: 1510px) {
                    width: 40%;
                }

                &_h2 {
                    background-color: $gold;
                    padding: 15px 0 15px 57px;
                    font-size: 25px;
                    text-align: center;
                    margin-bottom: 0;
                    height: 103px;
                    display: flex;
                    align-items: center;

                    @media (min-width: 768px) {
                        padding: 15px 0 15px 133px;
                    }
                        
                    @media (min-width: 1510px) {
                        font-size: 30px;
                        padding: 25px 25px 25px 120px;
                        height: 122px;
                    }
                }
                
                &_hr {
                    width: 319px;
                    border: none;
                    background-color: $gold;
                    height: 2px;
                    margin: 0;

                    @media (min-width: 768px) {
                        width: 505px;
                    }
                        
                    @media (min-width: 1280px) {
                        width: 499px;
                    }
                        
                    @media (min-width: 1510px) {
                        width: 481px;
                    }
                }
                
                &_objective {
                    font-size: 18px;
                    text-align: center;
                    padding: 20px 35px 48px;
                    margin-bottom: 0;
                        
                    @media (min-width: 1280px) {
                        font-size: 20px;
                    }
                        
                    @media (min-width: 1510px) {
                        padding: 30px 35px 58px;
                    }
                }
                
                &_price {
                    text-transform: uppercase;
                    font-size: 22px;
                    text-align: center;
                    margin-bottom: 0;
                    padding: 20px 20px 30px 20px;

                    @media (min-width: 768px) {
                        font-size: 27px;
                    }
                }
                
                &_btn {
                    @include flexrelative;
                    width: 250px;
                    border-radius: 5px;
                    vertical-align: top;
                    background-color: $gold;
                    transition: color, background-color 0.5s linear;
                    left: 11%;
                    margin-bottom: 30px;

                    @media (min-width: 768px) {
                        left: 25%;
                    }
                        
                    @media (min-width: 1510px) {
                        left: 24%;
                    }
                
                    :hover {
                        border-radius: 5px;
                        background-color: $darkgold;
                        color: $white;
                    }
                
                    a {
                        width: 250px;
                        padding: 10px;
                        text-align: center;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22.59px;
                        color: $white;
                        text-transform: uppercase;

                        @media (min-width: 768px) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

