.services{
   
    &__row{
        &_img {
            height: 630px;
            background-image: url(../img/foto11.png);
            background-repeat: no-repeat;
            margin: -45px 413px;
        }

        &_blocks{
            margin-bottom: 220px;
            &_top{
                display: flex;
                margin-top: -465px;
                padding-bottom: 60px;

                &_first{
                    background-color: #ffffff;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                    box-shadow: 0px 0px 10px 0px rgba(230, 230, 230, 1);
                    background-color: #F0FFF0;
                    width: 400px;
                    margin-right: 465px;
                    
                    &_p {
                        font-size: 20px;
                        padding: 20px;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }

                &_second{
                    background-color: #ffffff;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                    box-shadow: 0px 0px 10px 0px rgba(230, 230, 230, 1);
                    background-color: #F0FFF0;
                    width: 400px;

                    &_p {
                        font-size: 20px;
                        padding: 20px;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }
            }

            &_bottom {
                display: flex;
                justify-content: space-between;
            
                &_first {
                    background-color: #ffffff;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                    box-shadow: 0px 0px 10px 0px rgba(230, 230, 230, 1);
                    background-color: #F0FFF0;
                    width: 400px;
                    margin-right: 465px;

                    &_p {
                        font-size: 20px;
                        padding: 20px;
                        text-align: center;
                        margin-bottom: 0;
                        
                    }
                }
            
                &_second {
                    background-color: #ffffff;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                    box-shadow: 0px 0px 10px 0px rgba(230, 230, 230, 1);
                    background-color: #F0FFF0;
                    width: 400px;

                    &_p {
                        font-size: 20px;
                        padding: 20px;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }
            }
        }

        &_btn {
            border-radius: 5px;
            margin: -115px 0 20px 478px;
            display: inline-block;
            vertical-align: top;
            padding: 9px 0px;
            background-color: #d6b77a;
            transition: color, background-color 0.5s linear;
        
            :hover {
                border-radius: 5px;
                margin: 9px 0 20px 0;
                padding: 8px 20px 10px 20px;
                background-color: #c29c4f;
                color: rgb(255, 255, 255);
            }
        
            a {
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
                font-family: Roboto Slab;
                line-height: 22.59px;
                padding: 0 20px 0 20px;
                color: white;
                text-transform: uppercase;
            }
        }
    }
}
