body {
  background-color: #333333;
  width: 100%;
  height: 100px;
}

html, body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1440px;
}

.header {
  width: 1451px;
  height: 757px;
  background-image: url(../img/Ear.jpg);
}
.header a {
  text-decoration: none;
  color: #333333;
}
.header a span {
  color: #FFCD42;
}
.header > div {
  display: flex;
  align-items: center;
}
.header__menu {
  position: relative;
  margin: 9px 159px 0 71px;
  width: 1210px;
  height: 59px;
  display: inline-block;
}
.header__logo {
  margin-top: 9px;
  font-size: 600;
  font-size: 16px;
  line-height: 24px;
}
.header__fertilizers {
  margin: 26px 0 0 547px;
  font-size: 600;
  font-size: 16px;
  line-height: 24px;
}
.header__company {
  margin: 26px 0 0 58px;
  font-size: 600;
  font-size: 16px;
  line-height: 24px;
}
.header__contakt {
  margin: 26px 0 0 58px;
  font-size: 600;
  font-size: 16px;
  line-height: 24px;
}
.header__language_pl {
  margin: 26px 0 0 54px;
  text-transform: uppercase;
  font-size: 600;
  font-size: 16px;
  line-height: 24px;
}
.header__language_en {
  margin: 26px 0 0 10px;
  text-transform: uppercase;
  font-size: 54px;
  font-size: 600;
  font-size: 16px;
  line-height: 24px;
}
.header__invest {
  width: 694px;
  height: 245px;
  background-color: #FFCD42;
  position: relative;
  margin: 173px 675px 26px 63px;
}
.header__invest__content {
  margin: 64px 91px 34px 47px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}

.header__info {
  width: 694px;
  height: 85px;
  background-color: #333333;
  position: relative;
  margin: 0 683px 159px 63px;
}
.header__info .header__market {
  width: 354px;
  height: 48px;
  padding: 14px 61px 23px 39px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.header__info .header__inquiry button {
  width: 230px;
  height: 63.75px;
  margin: 11px 10px 10.25px 0;
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-size: 600;
  font-size: 16px;
  line-height: 24px;
}

.mission {
  width: 1000px;
  height: 103px;
  position: relative;
  color: #FFFFFF;
  margin: 136px 322px 160px 118px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.fertilizers {
  width: 1528px;
  height: 646px;
}
.fertilizers__title h2 {
  width: 194px;
  height: 51px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 160px 1129px 50px 117px;
  position: relative;
}
.fertilizers__types {
  display: inline;
}
.fertilizers__types__potassium {
  width: 393px;
  height: 499px;
  background-color: #FFFFFF;
  margin: 0 11px 0 120px;
  position: relative;
  float: left;
}
.fertilizers__types__potassium__titli h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  width: 309px;
  height: 23px;
  margin: 25px 44px 36px 40px;
}
.fertilizers__types__potassium__square {
  background-image: url(../img/square.png);
  width: 24px;
  height: 24px;
  position: relative;
  margin: 39px 330px 16px 39px;
}
.fertilizers__types__potassium__potassium__image {
  width: 24px;
  height: 24px;
  position: relative;
}
.fertilizers__types__potassium__info {
  width: 313px;
  height: 84px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 36px 39px 31px 41px;
}
.fertilizers__types__potassium__inquiry button {
  width: 202px;
  height: 52px;
  margin: 0px 152px 44px 39px;
  background-color: #333333;
  text-transform: uppercase;
  font-size: 600;
  font-size: 16px;
  line-height: 24px;
}
.fertilizers__types__potassium__inquiry button a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.fertilizers__types__urea {
  width: 393px;
  height: 499px;
  background-color: #FFFFFF;
  margin: 0 11px 0 0;
  position: relative;
  float: left;
}
.fertilizers__types__urea__square {
  background-image: url(../img/square.png);
  width: 24px;
  height: 24px;
  position: relative;
  margin: 39px 330px 16px 39px;
}
.fertilizers__types__urea__potassium__image {
  width: 24px;
  height: 24px;
  position: relative;
}
.fertilizers__types__urea__titli h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  width: 309px;
  height: 23px;
  margin: 25px 44px 36px 40px;
}
.fertilizers__types__urea__info {
  width: 313px;
  height: 84px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 36px 39px 31px 41px;
}
.fertilizers__types__urea__inquiry button {
  width: 202px;
  height: 52px;
  margin: 0px 152px 44px 39px;
  background-color: #333333;
  text-transform: uppercase;
  font-size: 600;
  font-size: 16px;
  line-height: 24px;
}
.fertilizers__types__urea__inquiry button a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.fertilizers__types__ammonium {
  width: 393px;
  height: 499px;
  background-color: #FFFFFF;
  margin: 0 11px 0 0;
  position: relative;
  float: left;
}
.fertilizers__types__ammonium__square {
  background-image: url(../img/square.png);
  width: 24px;
  height: 24px;
  position: relative;
  margin: 39px 330px 16px 39px;
}
.fertilizers__types__ammonium__potassium__image {
  width: 24px;
  height: 24px;
  position: relative;
}
.fertilizers__types__ammonium__titli h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  width: 309px;
  height: 23px;
  margin: 25px 44px 36px 40px;
}
.fertilizers__types__ammonium__info {
  width: 313px;
  height: 84px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 36px 39px 31px 41px;
}
.fertilizers__types__ammonium__inquiry button {
  width: 202px;
  height: 52px;
  margin: 0px 152px 44px 39px;
  background-color: #333333;
  text-transform: uppercase;
  font-size: 600;
  font-size: 16px;
  line-height: 24px;
}
.fertilizers__types__ammonium__inquiry button a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.content {
  height: 930px;
  background-image: url(../img/image.jpg);
  width: 1437px;
  height: 500px;
  margin: 150px 3px 0 0;
}
.content__info {
  width: 1320px;
  height: 590px;
  background-color: #FFFFFF;
  position: relative;
  float: left;
  margin: 229px 3px 0 117px;
}
.content__info__logo {
  width: 242px;
  height: 85px;
  margin: 68px 1038px 78px 40px;
}
.content__info__goal {
  width: 1169px;
  height: 98px;
  margin: 0 98px 42.43px 53px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #333333;
}
.content__info .line {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 609.94px 25.53px 53.2px;
  width: 656.85px;
}
.content__info__cooperation {
  width: 696px;
  height: 81px;
  margin: 0 571px 105px 53px;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  width: 1437px;
}
.footer__client-info {
  margin-top: 110px;
}
.footer__image {
  height: 378px;
  background-image: url(../../img/Background\ image.jpg);
}/*# sourceMappingURL=style.css.map */