div{
    
    float: left;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 30px;
}
.main{
    width: 800px;
    height: 1200px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}
.logo{
    width: 200px;
    height: 200px;
    background: rgb(238, 148, 148);
}
.catalog-menu{
    width: 600px;
    height: 200px;
    background: rgb(181, 221, 48);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sections{
    width: 200px;
    height: 100px;
}
.sidebar-left{
    width: 200px;
    height: 300px;
    background: rgb(157, 85, 150);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.slider{
    width: 400px;
    height: 200px;
    background: rgb(187, 22, 25);
}
.sidebar-right{
    width: 200px;
    height: 300px;
    background: rgb(241, 6, 217);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -200px;
}
.menu{
    width: 200px;
    height: 100px;
    background: rgb(248, 248, 6);
}
.footer-logo{
    width: 200px;
    height: 200px;
    background: rgb(31, 239, 3); 
}
.footer{
    
    width: 800px;
    height: 200px;
    
}
.feedback{
    width: 400px;
    height: 100px;
    background: rgb(232, 6, 138);
    
}
.info{
    width: 200px;
    height: 200px;
    background: rgb(103, 79, 79);
    float: right;
    margin-right: 0px;
    margin-top: -100px;
}
.purchase{
    
}