.info {
    width: 100%;
    background-image: url(../img/blfone.png);
    background-repeat: repeat-x;
    margin-top: 0;
    height: 1037px;
    
    @media (min-width: 768px) {
            height: 599px;
    }
    @media (min-width: 1280px) {
        height: 916px;
    }
    @media (min-width: 1920px) {
        height: 942px;
    }
    
    
    &__text {
        width: 100%;

        @media (min-width: 1280px) {
            font-size: 40px;
            line-height: 64px;
            color: $white;
        }

            p {
                padding-top: 80px;
                margin-bottom: 60px;
                font-weight: 600;
                font-size: 24px;
                line-height: 38.4px;
                color: $white;
                

                @media (min-width: 768px) {
                    margin: 0 0 86.48px 0;
                    }

                @media (min-width: 1280px) {
                    padding-top: 160px;
                    margin-bottom: 160px;
                    font-size: 40px;
                    line-height: 64px;
                }

                @media (min-width: 1920px) {
                    padding-top: 220px;
                }
            }
        }

                &__quality {
                    width: 100%;

                    @media (min-width: 768px) {
                        display: flex;
                        float: left;
                    }
                   
                    
                    &_communication {
                        margin-bottom: 60px;
                        
                        @media (min-width: 768px) {
                            width: 100%;
                            position: relative;
                            margin-right: 20px;
                        }
                        @media (min-width: 1280px) {
                            margin-right: 50px;
                        }
                        @media (min-width: 1920px) {
                            margin-right: 140px;
                        }
                        

                        &_text h3 {
                            color: $white;
                            text-transform: uppercase;
                            font-size: 18px;
                            margin-bottom: 20px;
                            font-weight: 500;
                            line-height: 25.2px;

                            @media (min-width: 1280px) {
                                font-weight: 33.6px;
                                font-size: 24px;
                                margin-bottom: 20px;
                            }
                        }
                        &_text p {
                            color: $white;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            margin: 0;

                            @media (min-width: 1280px) {
                                font-size: 20px;
                                line-height: 30px;
                            }
                        }
        
                        &_image {
                            background-image: url(../img/chat.png);
                            background-repeat: no-repeat;
                            background-size: 30px;
                            height: 30px;
                            margin-bottom: 30px;

                            @media (min-width: 1280px) {
                                background-size: 40px;
                                height: 40px;
                            }
                        }

                    }

                    &_individuality {
                        margin-bottom: 60px;
                        @media (min-width: 768px) {
                            width: 100%;
                            position: relative;
                            margin-right: 20px;
                        }
                        
                        @media (min-width: 1280px) {
                            margin-right: 50px;
                        }
                        
                        @media (min-width: 1920px) {
                            margin-right: 140px;
                        }
                        
                        
                        &_text h3 {
                            color: $white;
                            text-transform: uppercase;
                            font-size: 18px;
                            margin-bottom: 20px;
                            font-weight: 500;
                            line-height: 25.2px;
                        
                            @media (min-width: 1280px) {
                                font-weight: 33.6px;
                                font-size: 24px;
                                margin-bottom: 20px;
                                }
                            }
                        
                        &_text p {
                            color: $white;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            margin: 0;
                            
                            @media (min-width: 1280px) {
                                font-size: 20px;
                                line-height: 30px;
                            }
                        }
                        
                        &_image {
                            background-image: url(../img/globe.png);
                            background-repeat: no-repeat;
                            background-size: 30px;
                            height: 30px;
                            margin-bottom: 30px;

                            @media (min-width: 1280px) {
                                background-size: 40px;
                                height: 40px;
                            }
                        }
                    }

                    &_speed {
                        margin-bottom: 60px;
                        @media (min-width: 768px) {
                            width: 100%;
                            position: relative;
                            
                        }
                        
                        @media (min-width: 1920px) {
                            margin-right: 50px;
                        }
                        
                        @media (min-width: 1920px) {
                            margin-right: 140px;
                        }
                        
                        &_text h3 {
                            color: $white;
                            text-transform: uppercase;
                            font-size: 18px;
                            margin-bottom: 20px;
                            font-weight: 500;
                            line-height: 25.2px;
                        
                            @media (min-width: 1280px) {
                                font-weight: 33.6px;
                                font-size: 24px;
                                margin-bottom: 20px;
                            }
                        }
                        
                        &_text p {
                            color: $white;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            margin: 0;
                            
                            @media (min-width: 1280px) {
                                font-size: 20px;
                                line-height: 30px;
                            }
                        }
                        
                        &_image {
                            background-image: url(../img/lightning.png);
                            background-repeat: no-repeat;
                            background-size: 30px;
                            height: 30px;
                            margin-bottom: 30px;

                            @media (min-width: 1280px) {
                                background-size: 40px;
                                height: 40px;
                            }
                        }
                    }
                }                   
            }
        
        
