.news {
    width: 100%;
    background-image: url(../img/greyfone.png);
    background-repeat: repeat-x;
    margin-top: -33px;
    height: 2120px;


    &__inner {
        width: 100%;
        @media (min-width: 768px) {
            display: flex;
        }

        &_blog {
            width: 80%;

            @media (min-width: 1280px) {
                width: 25%;
                margin-right: 97px;
                margin-top: 160px;
            }
            
            h2 {
                font-weight: 500;
                font-size: 24px;
                line-height: 31.2px;
                text-transform: uppercase;
                padding-top: 72px;
                margin-bottom: 20px;

                @media (min-width: 1280px) {
                    margin-top: 0;
                    font-size: 40px;
                    line-height: 52px;
                }
            }
            
                &_text {
                    font-weight: 400;
                    font-family: Mulish, sans-serif;
                    color: $black;
                    font-size: 18px;
                    line-height: 25.2px;
                    margin-bottom: 20px;

                    @media (min-width: 1280px) {
                        margin-top: 0;
                        font-size: 24px;
                        line-height: 33.6px;
                        margin-bottom: 45px;
                    }
                }
            
            &_button {
                margin: 15px 0 60px 0;
                border: 1px solid $black;
                width: 238px;
                height: 61px;
                    
                @media (min-width: 1280px) {
                    width: 297px;
                }
                    
                @media (min-width: 1280px) {
                    width: 291px;
                }
                    
                a {
                    font-family: OpenSans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20.8px;
                    color: #000000;
                    text-decoration: none;
                    padding: 20px 0 20px 40px;
                    background-color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    transition: color, background-color 0.3s linear;
                    
                        @media (min-width: 1280px) {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    
                .arrow {
                    width: 13.6px;
                    height: 13.6px;
                    display: inline-block;
                    margin-left: 33px;
                    background-image: url(../img/arrow.png);
                    background-repeat: no-repeat;
                    transition: background-image 0.3s linear;
                    
                        @media (min-width: 1280px) {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                    
                a:hover {
                    background-color: $red;
                    color: $white;
                }
                    
                a:hover span {
                    background-image: url(../img/arrow2.png);
                }
            }
                
        }

        &_item {
            width: 100%;
       

            &_results {
                width: 100%;
                background-color: $white;
                margin-right: 20px;
                height: 546px;
                margin-bottom: 40px;

                @media (min-width: 1280px) {
                    width: 25%;
                    margin-top: 160px;
                }

                &_image {
                    background-image: url(../img/Teamwork1.png);
                    width: 190px;
                    height: 190px;
                    margin: 80px auto 30px;
                }

                h3 {
                   font-weight: 600;
                   font-size: 20px;
                   line-height: 26px;
                   text-transform: uppercase;
                   color: $black;
                   margin: 0 35px;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 18px 35px 0;
                }
            }

            &_market {
                width: 100%;
                background-color: $white;
                margin-top: -40px;
                margin-right: 20px;
                height: 546px;

                @media (min-width: 1280px) {
                    width: 25%;
                    margin-top: 160px;
                }
                    
            
                &_image {
                    background-image: url(../img/Teamwork2.png);
                    width: 190px;
                    height: 190px;
                    margin: 80px auto 30px;
                }
                
                h3 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    text-transform: uppercase;
                    margin: 0 35px;
                }
                    
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 18px 35px 0;
                }
            }

            &_cloud {
                width: 100%;
                background-color: $white;
                margin-top: -40px;
                height: 546px;

                @media (min-width: 1280px) {
                    width: 25%;
                    margin-top: 160px;
                }
        
                &_image {
                    background-image: url(../img/Teamwork3.png);
                    width: 190px;
                    height: 190px;
                    margin: 80px auto 30px;
                }
            
                h3 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    text-transform: uppercase;
                    margin: 0 35px;
                }
                    
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 18px 35px 0;
                }
            }
        }
    }
}