.projects {
    width: 100%;
    
    &__inner {
        margin-top: 80px;

        @media (min-width: 1280px) {
            display: flex;
            margin-top: 160px;
            margin-bottom: 160px;
        }


        &_examples {
            width: 100%;

            @media (min-width: 768px) {
                width: 60%;
                margin-bottom: 33.07px;
            }
            @media (min-width: 1280px) {
                width: 30%;
                margin-right: 80px;
            }
            @media (min-width: 1920px) {
                width: 24%;
                margin-right: 0;
            }
            

            h2 {
               font-weight: 600; 
               font-size: 24px;
               line-height: 31.2px;
               text-transform: uppercase;
               margin: 0 0 15px 0;

                @media (min-width: 1280px) {
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 52px;
                    text-transform: uppercase;
                    margin-top: 0;
                }
            }

            h2 span {
                color: red;
                font-weight: 700;
                font-size: 24px;
                line-height: 31.2px;
                text-transform: uppercase;
                margin: 0 0 15px 0;

                @media (min-width: 1280px) {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 52px;
                }
            }

            &_text {
                display: block;
                font-weight: 400;
                color: $black;
                font-size: 18px;
                line-height: 27px;

                @media (min-width: 1280px) {
                    font-size: 24px;
                    line-height: 36px;
                    margin-bottom: 30px;
                }
            }

            &_button {
                margin: 15px 0 60px 0;
                border: 1px solid $black;
                width: 238px;
                height: 61px;

                @media (min-width: 768px) {
                    margin-bottom: 50px;
                }
                @media (min-width: 1280px) {
                    width: 297px;
                    height: 66px;
                }
                @media (min-width: 1280px) {
                    width: 291px;
                }

                a {
                    font-family: OpenSans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20.8px;
                    color: #000000;
                    text-decoration: none;
                    padding: 20px 0 20px 40px;
                    background-color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    transition: color, background-color 0.3s linear;

                        @media (min-width: 1280px) {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    
                    .arrow {
                        width: 13.6px;
                        height: 13.6px;
                        display: inline-block;
                        margin-left: 33px;
                        background-image: url(../img/arrow.png);
                        background-repeat: no-repeat;
                        transition: background-image 0.3s linear;

                        @media (min-width: 1280px) {
                            width: 16px;
                            height: 16px;
                            margin-left: 62px;
                        }
                    }
                }

                a:hover {
                    background-color: $red;
                    color: $white;
                }
                a:hover span {
                    background-image: url(../img/arrow2.png);
                }
            }
        }

        &_img {
            @media (min-width: 768px) {
                display: flex;
                margin-bottom: 90px;
            }
            @media (min-width: 1280px) {
                margin-bottom: 0;
            }
            @media (min-width: 1920px) {
                width: 76%;
            }
           
            &_tracker {
                width: 100%;

                &_image {
                    background-image: url(../img/telefon.jpg);
                    background-size: 400px;
                    height: 500px;
                    margin-bottom: 40px;

                    @media (min-width: 768px) {
                        height: 301px;
                        background-size: 240px;
                        margin-right: 18px;
                        background-repeat: no-repeat;
                    }
                    @media (min-width: 1280px) {
                        margin-right: 20px;
                    }
                    @media (min-width: 1920px) {
                        height: 500px;
                        background-size: 410px;
                    }
                }

                    h3 {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                        text-transform: uppercase;
                        color: $black;
                        margin: 0 0 18px 0;
                    }

                &_text {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 27px;
                    color: $black;
                    margin-bottom: 60px;

                    @media (min-width: 768px) {
                        display: none;
                    }
                    @media (min-width: 1920px) {
                        display: block;
                        width: 410px;
                    }
                }
            }

            &_univer {
                width: 100%;

                &_image {
                    background-image: url(../img/comp.jpg);
                    background-size: 400px;
                    height: 500px;
                    margin-bottom: 40px;

                    @media (min-width: 768px) {
                        height: 301px;
                        background-size: 240px;
                        margin-right: 18px;
                        background-repeat: no-repeat;
                    }
                    @media (min-width: 1280px) {
                        margin-right: 20px;
                    }
                    @media (min-width: 1920px) {
                        height: 500px;
                        background-size: 410px;
                    }
                }

                    h3 {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                        text-transform: uppercase;
                        color: $black;
                        margin: 0 0 18px 0;
                    }

                &_text {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 27px;
                    color: $black;
                    margin-bottom: 60px;

                    @media (min-width: 768px) {
                        display: none;
                    }
                    @media (min-width: 1920px) {
                        display: block;
                        width: 410px;
                    }
                }
            }

            &_blog {
                width: 100%;

                &_image {
                    background-image: url(../img/blog.jpg);
                    background-size: 400px;
                    height: 500px;
                    margin-bottom: 40px;

                    @media (min-width: 768px) {
                        height: 301px;
                        background-size: 240px;
                        background-repeat: no-repeat;
                    }
                    @media (min-width: 1920px) {
                        height: 500px;
                        background-size: 410px;
                    }
                }
                    
                    h3 {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                        text-transform: uppercase;
                        color: $black;
                        margin: 0 0 18px 0;
                    }
                    
                &_text {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 27px;
                    color: $black;
                    margin-bottom: 80px;

                    @media (min-width: 768px) {
                        display: none;
                    }
                    @media (min-width: 1920px) {
                        display: block;
                    }
                }
            }
        }
    }
}


        
                
            