.services {
    width: 100%;
    margin: 0;

    &__title {
        width: 100%;
        @media (min-width: 768px) {
                width: 80%;
            }
        @media (min-width: 1280px) {
            width: 100%;
            }

        @media (min-width: 1920px) {
            width: 70%;
            }

        h1 {
            font-weight: 800;
            font-size: 40px;
            line-height: 60px;

            @media (min-width: 768px) {
                line-height: 48px;
            }
            @media (min-width: 1280px) {
                font-weight: 800;
                font-size: 80px;
                line-height: 96px;
            }
        }
        
    }

    &__info {
        display: flex;
        justify-content: space-between;

        &_image {
            background-image: url(../img/m_chart.jpg);
            width: 786px;
            position: relative;
            background-repeat: no-repeat;
            display: none;

            @media (min-width: 1920px) {
                    display: block;
                }
        }

        &_section {
            width: 100%;

            @media (min-width: 1920px) {
                    width: 50%;
                }

            &_text {
                width: 100%;
                margin-bottom: 100px;
                margin-top: 40px;

                @media (min-width: 768px) {
                        width: 700px;
                    }
                @media (min-width: 1280px) {
                    width: 820px;
                    }
                
                p {
                    font-weight: 300;
                    line-height: 25.6px;
                    color: $black;
                    font-size: 16px;
                    margin-top: 0;
                    margin-bottom: 0;

                    @media (min-width: 1280px) {
                        line-height: 32px;
                        font-size: 20px;
                    }
                }
            }

            &_menu {
                margin: 50px 0 80px 0;
                width: 25%;

                @media (min-width: 768px) {
                        margin: 49.62px 0 84.42px 0;
                    }

                @media (min-width: 1280px) {
                        margin: 100px 0 160px 0;
                    }

                &>ul>li:hover .services__info_section_menu_block {
                    display: block;
                }

                &>ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    padding-left: 0;

                    li:not(:last-child) {
                        margin-bottom: 33px;
                    }

                    a {
                        text-decoration: none;
                        position: relative;
                        @include li-menu;
                        font-size: 20px;
                        text-transform: uppercase;

                        &:hover {
                            color: $red;
                        }

                    }

                }

                &_block {
                    position: relative;
                    border-left: 2px solid $black;
                    padding-left: 30px;
                    width: 370px;
                    margin-top: 20px;
                    display: none;
                    

                    @media (min-width: 768px) {
                        position: absolute;
                        margin-left: 360px;
                        margin-top: -20px;
                        padding-left: 42px;
                        width: 438px;
                        
                    }


                    &_image {
                        background-image: url(../img/Files1.png);
                        width: 103px;
                        height: 73px;
                        margin-bottom: 30px;
                    }

                    &_development {
                        h3 {
                            text-transform: uppercase;
                            font-size: 22px;
                            line-height: 27.61px;
                        }

                        p {
                            line-height: 28px;
                            font-size: 20px;
                            @include family-weight-color;
                        }
                    }
                }
            }
        }
    }

}